<h1>Listing voips</h1>

<table>
  <thead>
    <tr>
      <th>Client</th>
      <th>Uid</th>
      <th>Gatewayip</th>
      <th>Prefix</th>
      <th>Number</th>
      <th>Line</th>
      <th>Restrictions</th>
      <th>Gateway</th>
      <th>Protocol</th>
      <th>Comments</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @voips.each do |voip| %>
      <tr>
        <td><%= voip.client %></td>
        <td><%= voip.uid %></td>
        <td><%= voip.gatewayip %></td>
        <td><%= voip.prefix %></td>
        <td><%= voip.number %></td>
        <td><%= voip.line %></td>
        <td><%= voip.restrictions %></td>
        <td><%= voip.gateway %></td>
        <td><%= voip.protocol %></td>
        <td><%= voip.comments %></td>
        <td><%= link_to 'Show', voip %></td>
        <td><%= link_to 'Edit', edit_voip_path(voip) %></td>
        <td><%= link_to 'Destroy', voip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Voip', new_voip_path %>
